html,
body{
  margin  :       0;
  padding :       0;
  background-color : #ffffff;
  color   : #000000;
}

#header {
  position : fixed;
  top      :     0; 
  left     :     0;
  right    :     0;
  height   :   8em;
}

#leftnavigation {
  position : fixed;
  top      :   8em;
  left     :     0;
  bottom   :   6.5em;
  right    :   85%;
  padding  : 0 0.5em;
  border-right: 1px solid #ACA250;
  overflow :  auto;
}

#content {
  position : fixed;
  top      :   8em;
  left     :   15%;
  bottom   :   6.5em;
  right    :     0;
  overflow :  auto;
  padding  : 0 0;
}

#footer {
  position : fixed;
  left     :     0;
  bottom   :     0;
  right    :     0;
  height   :   6.5em;
}

p, ul, ol, li {
  font : 10pt Arial,geneva,helvetica;
}
h1 {
  font : bold 14pt Arial, Helvetica, geneva;
}
h2 {
  font : bold 12pt Arial, Helvetica, geneva;
}

/*****************************************************************************/

*.copyright-notice {
    font-size   : xx-small;
    font-style  : italic;
    font-weight : bold;
}

*.access-info {
    font-size   : xx-small;
    font-style  : italic;
    font-weight : bold;
}

/*****************************************************************************/

table.menu {
    font-size: small;
    background-color: white;
}

table.menu tr th {
    color: black;
    background-color: #fffff8;    
}

table.menu tr th a {
    text-decoration: none;
    background-color: #ffffcc;
}

table.menu a:hover {
    color: black;
    background-color: #ffccff;
}

/*****************************************************************************/

table.dbtable {
    font-size: small;
    background-color: silver;
}

table.dbtable tr th {
    text-align: left;
    color: black;
    background-color: #ffffcc;
}

table.dbtable tr td {
    color: black;
    background-color: #ffffcc;
}

/*****************************************************************************/

table.station tr th {
    text-align: center;
}

table.station tr th a {
    color: blue;
    font-size: xx-small;
    font-weight: normal;
    text-decoration: none;
}

table.rack {
    height: 100%;
}

table.rack tr th {
    vertical-align: top;
}

table.station {
    background-color: #909090;
    border-style: solid;
    border-width: 1px;
}

table.rack {
    background-color: #909090;
    border-style: solid;
    border-width: 2px;
}

table.subrack {
    background-color: #A0A0A0;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

table.rsp {
    background-color: #B0B0B0;
    border-style: dotted;
    border-width: 1px;
}

table.ap {
    background-color: #C0C0C0;
}

table.rcu {
    background-color: #D0D0D0;
}

table.antenna {
    background-color: #E0E0E0;
}
