# LofarObservationStartListener-dragnet.service systemd service description for DRAGNET
#
# Not part of LOFAR roll-out, since cluster specific and to be installed into:
#  /usr/lib/systemd/system/ (CentOS)
#  /lib/systemd/system/     (Ubuntu)
# Then run: sudo systemctl daemon-reload && sudo systemctl restart LofarObservationStartListener-dragnet
#
# $Id$

[Unit]
Description=LOFAR daemon that listens to qpid messages that match to a prefix and then runs a program passing the message and the matched values.
Requires=network.target
After=network.target

[Service]

# Note: appears to require a local (or at least non-NIS) account for some reason
User=lofarsys
Group=dragnet

# Type, ExecStart: no daemonization (-d) needed when managed by systemd as Type=simple
Type=simple

# Note: you must use {} when using env vars
Environment='PYTHONPATH=/opt/lofar/lib64/python2.7/site-packages'
ExecStart=/usr/bin/python "${PYTHONPATH}/lofar/ObservationStartListener/ObservationStartListener.py" \
  --broker ccu001.control.lofar \
  --address dump.lofar.task.specification.system \
  --match-prefix 'drg,drag' \
  --msg-save-dir /opt/lofar/var/run \
  --exec /opt/lofar/bin/slurm-submit-cobalt-outputproc.sh \
  --logfile /opt/lofar/var/log/ObservationStartListener.log \
  --quiet

Restart=on-failure

# Raise prio somewhat. This service must be responsive.
Nice=-15

[Install]
WantedBy=multi-user.target
