# -- Version --
#
# $Id: $
#
#      name            vers   qual        constr.            descr.
#--------------------------------------------------------------------------------------------------------
node   Version        4.0.0  development 'node constraint'  "Component Tree version info"

#    name                    dir. type   unit   prun. vm   value                   constr.  descr.
#--------------------------------------------------------------------------------------------------------
par  number		I    int   -      10    0    @VERSION@       -     "Version number (usually svn-revision)"
