#!/bin/bash
VERSION=2.14

function build {
  IMAGE=$1
  docker build --rm --force-rm -t ${IMAGE}:${VERSION} ${IMAGE} && \
  docker tag -f ${IMAGE}:${VERSION} ${IMAGE}:latest
}

build lofar-base && \
build lofar-pipeline && \
build lofar-outputproc

