<p class="access-info">
You are accessing this page from IP address <b> {{ipaddr}}</b>.<br />
The local server time is now <b> {%now "j-M-Y"%}  {%now "G:i:s O"%} </b>.
</p>
<p class="copyright-notice">Copyright &copy; 2004-2008 <a href="http://www.astron.nl"><img src="/static/images/logo_astron_new2-th.png" alt="Astron Home" /></a> <a href="http://www.lofar.org"><img src="/static/images/lofar-logo-th.png" alt="LOFAR Home" /> <a href="http://www.science-and-technology.nl"><img src="/static/images/snt-logo-th.png" alt="S&T Home" /></a></p>
{#<table>#}
{# <tr>#}
  {#<td><a href="http://validator.w3.org/check?uri=referer"><img src="/static/images/valid-xhtml11.png" alt="Valid XHTML 1.1!" /></a></td>#}
  {#<td><a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="/static/images/vcss.png" alt="Valid CSS!"/></a></td>#}
{#  </tr>#}
{#</table>#}
